/* stylesheet for the fitness web pages */
/* styles for the body */
body {
    background-color: #FFFF99;
}

img {
    max-width: 100%;
}

/* styles for mobile layout */

/* styles for the container id */
#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 0.2em;
    background-color: #fff;
    border-radius: 0.5em;
    text-align: center;
}

nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    /* padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
    border-radius: 20px; */
}

/* styles regarding ul iinside nav */


nav ul {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* styles for the li in the ul in the nav */
nav li {
    background-color: #009933;
    margin: 0.3em;
    padding: 0.4em;
    border-radius: 2em;
    list-style-type:none;
}

/* styles for the anchor elements inside the li inside nav */
nav li a {
    color: #fff;
    text-decoration: none;
}

/* styles to display mobile class */
.mobile {
    display: inline;
}

/* styles to hide the desktop class */
.desktop {
    display: none;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 2em 0 2em 0;
}

footer {
    font-size: .7em;
    text-align: center;
    margin-top: 2em;
}

/* styles for the tablet class */
.tablet {
    display: none;
}

.equip {
    /* float: left;
    padding: 0 20px 20px; */
    display: none;
}
/* 
@media (orientation: landscape) {
    body {
        background-color: cyan;
    }
} */

/* media query for the tablet */
@media only screen and (min-width: 700px) {
    /* styles for li inside nav */
    nav li {
        display: inline;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        padding-left: 0;
        padding-right: 0;
        width: 18%;
        white-space: nowrap;
    }

    /* styles for the main element */
    main {
        clear: left;
        margin-top: 4em;
    }

    /*  hiding mobile class*/
    .mobile {
        display: none;
    }

    /* display desktop class */
    .desktop {
        display: inline;
    }

    /* display equip class img/content */
    .equip {
        display: inline;
        float: left;
        margin-right: 1.5em;
    }

    h1 {
        clear: left;
    }

    /* display items class */
    .items {
        display: block;
        list-style-position: inside;
        margin-bottom: 6em;
    }

    /* display class tablet */
    .tablet {
        display: block;
    }

    dt {
        font-weight: bold;
        margin-top: 0.7em;
    }
}

/* media query for the desktop view port */
@media only screen and (min-width: 900px) {
    /* style for the container id */
    #container {
        width: 80%;
    }

    /* styles for the ul inside the nav */
    nav ul {
        margin: 0;
        padding-left: 0.5%;
        padding-right: 0.5%;
    }

    /* styles for the li inside the nav */
    nav li {
        border-radius: 0;
        border-top: solid #000;
        border-bottom: solid #000;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 20%;
    }

    /* nav li:nth-of-type(3) a {
        color: #000;
    } */

    /* styles for the links in the li in nav */
    nav li a {
        display: inline-block;
        padding: 0.7em;
    }

    /* styles for the main */
    main {
        border-radius: 0.5em;
        box-shadow: 0.5em 0.5em 0.5em #404040;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    /* paragraphs inside main */
    main p {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    /* styles for the item class */
    .items {
        margin-bottom: 7em;
    }

    /*  styles for the links inside the nav*/
    nav li a:link {
        color: #fff;
    }

    nav li a:visited {
        color: #0f9;
    }

    nav li a:hover {
        color: #ff0;
        font-style: italic;
    }

    nav li a:active {
        color: #660;
    }

    body {
        /* background: linear-gradient(135deg, orange 60%, cyan); */
        background: linear-gradient(#fff 60%, #ff9);
        background-attachment: fixed;
    }


}

